body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

#sidebar.affix {
    top: 150px;
    width: 250px;
    margin: 20px;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    position: fixed;
}

ul.input-list {
    list-style-type: none;
    padding: 0px;
}

ul.input-list li {
    margin-bottom: 5px;
}

input[type="text"]
{
    width: 100%;
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0,0);
    border-color: #AAAAAA;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

#status {
    width: 100%;
    padding: 10px;
    color: orange;
}

.slider-track {
    background: rgba(0,0,0,0.2);
}

.slider-selection {
    background: rgba(255,153,51,1);
}

#explore {
    width: 100%;
    margin: 10px 0;
}

