body {
  overflow: hidden;
}

#map {
    margin-top: 50px;
    width: 100%;
}

#sidebar.affix {
    top: 200px;
    margin: 0px;
    padding: 20px;
    color: white;
    background-color: rgba(0,0,0,0.6);
    border-radius: 5px;
    position: fixed;
}

ul.input-list {
    list-style-type: none;
    padding: 0px;
}

ul.input-list li {
    margin-bottom: 5px;
}

#input-units li {
    margin: 0px;
    display: inline;
}

input[type="text"]
{
    padding: 5px;
    color: white;
    background-color: rgba(0,0,0,0);
    border-color: #AAAAAA;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

ul.flashes {
    list-style-type: none;
    padding: 10px 0px 0px 0px;
}

ul.flashes li {
    color: orange;
}

#alpha-slider {
    margin: 0 10px;
}

