
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ScenicStroll</title>

    <link rel="icon" type="image/png" href="static/binoculars.png">
    <link rel="stylesheet" href="static/dist/bootstrap.min.css" />
    <link rel="stylesheet" href="static/dist/css/bootstrap-slider.min.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <link rel="stylesheet" href="static/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="static/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="static/css/scenic.css" />

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-62007677-2', 'auto');
      ga('send', 'pageview');
    </script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ScenicStroll</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://mcwitt.github.io">About</a></li>
            <li><a href="http://slides.com/mattwittmann/scenicstroll/fullscreen">Slides</a></li>
            <li><a href="https://github.com/mcwitt/scenicstroll">GitHub</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="map"></div>

    <div id="sidebar" class="affix">
      <form name="input" action="/query" method="POST">
        <ul class="input-list">
          <li>{{ form.address1(placeholder="e.g., Exploratorium") }}</li>
          <li>{{ form.address2(placeholder="e.g., Presidio Hill") }}</li>
          <li>{{ form.alpha() }}</li>
        </ul>
        <p style="float:left;color:#ccc">direct</p>
        <p style="float:right;color:#ccc">scenic</p>
        <button id="explore" type="submit" class="btn btn-primary">Go!</button>
      </form>
      <div id="status"></div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/dist/bootstrap.min.js"></script>

    <!-- leaflet.js -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <script src="static/dist/leaflet.markercluster.js"></script>

    <!-- bootstrap-slider -->
    <script src="static/dist/bootstrap-slider.min.js"></script>

    <!-- Google Maps API (for geocomplete)-->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script src="static/dist/jquery.geocomplete.min.js"></script>

    <script type="text/javascript">

      function createMap(lat, lon, zoom){
        var map = L.map('map', {zoomControl: false}).setView([lat, lon], zoom);
        map.addControl(L.control.zoom({position: 'bottomleft'}))
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mcwitt.no6d18i9',
            accessToken: 'pk.eyJ1IjoibWN3aXR0IiwiYSI6ImNpZndwNmpnNDM3ZXN0dG0xMm9ieDAxeGQifQ.JVpz09GcugmF8puxgP3LQQ',
            detectRetina: true
        }).addTo(map);
        return map;
      }

      function addRoute(map, latlngs){
        route = L.polyline(latlngs, {color: 'blue'})
        map.fitBounds(route.getBounds());
        return L.layerGroup()
                .addLayer(L.marker(latlngs[0]))
                .addLayer(L.marker(latlngs[latlngs.length-1]))
                .addLayer(route)
                .addTo(map);
      }

      function addClusters(map, clusters){
        var markers = L.markerClusterGroup();
        $.each(clusters, function(i, c){
            marker = L.marker([c.location[0], c.location[1]])
            marker.bindPopup("<img src=" + c.repr_url + " width=200px>");
            markers.addLayer(marker);
        });
        map.addLayer(markers);
        return markers;
      }

      $(document).ready(function(){
        $('#address1').geocomplete();
        $('#address2').geocomplete();
        $('#alpha').slider({'max': 11, 'value': {{ form.alpha.data }} });

        var map = createMap({{ center_latlon }}, {{ zoom }});
        var route = L.polyline([]).addTo(map);
        var markers = L.markerClusterGroup([]).addTo(map);

        $('form').on('submit', function(e){
            e.preventDefault();
            $.ajax({
              type    : "POST",
              cache   : false,
              url     : $(this).attr('action'),
              data    : $(this).serialize(),
              success : function(data) {
                $('#status').html(data.message);
                if (data.success) {
                  map.removeLayer(route);
                  map.removeLayer(markers);
                  route = addRoute(map, data.latlngs);
                  markers = addClusters(map, data.clusters);
                }
              }
            });
        });
      });
    </script>
  </body>
</html>

